{% extends 'verbs_app/layout.html' %}

{% block content %}

    {% for verb in verbs %}
    <div class="container  ">
        <div class="row justify-content-center ">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="search-container position-relative">
                    <form class="d-flex" role="search" method=POST action="{% url 'search-verbs' %}">
                        {% csrf_token %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="search-icon feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <input class="form-control search-input ps-5" type="search"
                            placeholder="Search Verb" aria-label="Search" name="searched">
                 
                        <button class="btn btn-search ms-2 btn-lg" type="submit">Search</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center mt-4">
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>You searched for verb "{{ verb }}"</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Die Aufgabe des Verbs ist, <cite title="Source Title">eine Handlung auszudrücken.</cite>
            </figcaption>
          </figure>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th colspan="2">Prasent verb "{{ verb }}"</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ps-2 fs-5">Ich</td>
                        <td class="text-center text-lowercase fs-5">{{ verb.prasent_ich }}</td>
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Du</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_du }}</td>
                        
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Er/Sie/Es</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_es }}</td>
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Wir</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_wir }}</td>
                        
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Ihr</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_ihr }}</td>
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5 ">Sie</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_sie }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th colspan="2">Perfekt verb "{{ verb }}"</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ps-2 fs-5">Ich</td>
                        <td class="text-center text-lowercase fs-5">{{ verb.prasent_ich }}</td>
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Du</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_du }}</td>
                        
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Er/Sie/Es</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_es }}</td>
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Wir</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_wir }}</td>
                        
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5">Ihr</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_ihr }}</td>
                    </tr>
                    <tr>
                        <td class="ps-2 fs-5 ">Sie</td>
                        <td class="px-2 text-center text-lowercase fs-5">{{ verb.prasent_sie }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>


    </div>




    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Prasent verb "{{ verb }}"</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Ich</th>
                        <td>{{ verb.prasent_ich }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Du</th>
                        <td>{{ verb.prasent_du }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Er/Sie/Es</th>
                        <td>{{ verb.prasent_es }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Wir</th>
                        <td>{{ verb.prasent_wir }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ihr</th>
                        <td>{{ verb.prasent_ihr }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sie</th>
                        <td>{{ verb.prasent_sie }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="col-md-6">
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">Perfekt verb "{{ verb }}"</th>
                <th scope="col"></th>
        
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Ich</th>
                <td>{{ verb.perfekt_ich }} </td>
            </tr>
            <tr>
                <th scope="row">Du</th>
                <td>{{ verb.perfekt_du }}</td>
            </tr>
            <tr>
                <th scope="row">Er/Sie/Es</th>
                <td>{{ verb.perfekt_es }}</td>
            </tr>
            <tr>
                <th scope="row">Wir</th>
                <td>{{ verb.perfekt_wir }}</td>
            </tr>
            <tr>
                <th scope="row">Ihr</th>
                <td>{{ verb.perfekt_ihr }}</td>
            </tr>
            <tr>
                <th scope="row">Sie</th>
                <td>{{ verb.perfekt_sie }}</td>
            </tr>
        
            </tbody>
        </table>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Prateritum verb "{{ verb }}"</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Ich</th>
            <td>{{ verb.prateritum_ich }} </td>
        </tr>
        <tr>
            <th scope="row">Du</th>
            <td>{{ verb.prateritum_du }}</td>
        </tr>
        <tr>
            <th scope="row">Er/Sie/Es</th>
            <td>{{ verb.prateritum_es }}</td>
        </tr>
        <tr>
            <th scope="row">Wir</th>
            <td>{{ verb.prateritum_wir }}</td>
        </tr>
        <tr>
            <th scope="row">Ihr</th>
            <td>{{ verb.prateritum_ihr }}</td>
        </tr>
        <tr>
            <th scope="row">Sie</th>
            <td>{{ verb.prateritum_sie }}</td>
        </tr>
    
        </tbody>
    </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Plusquamperfekt verb "{{ verb }}"</th>
                <th scope="col"></th>
        
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Ich</th>
                <td>{{ verb.plusquamperfekt_ich }} </td>
            </tr>
            <tr>
                <th scope="row">Du</th>
                <td>{{ verb.plusquamperfekt_du }}</td>
            </tr>
            <tr>
                <th scope="row">Er/Sie/Es</th>
                <td>{{ verb.plusquamperfekt_es }}</td>
            </tr>
            <tr>
                <th scope="row">Wir</th>
                <td>{{ verb.plusquamperfekt_wir }}</td>
            </tr>
            <tr>
                <th scope="row">Ihr</th>
                <td>{{ verb.plusquamperfekt_ihr }}</td>
            </tr>
            <tr>
                <th scope="row">Sie</th>
                <td>{{ verb.plusquamperfekt_sie }}</td>
            </tr>
        
            </tbody>
        </table>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Futur I verb "{{ verb }}"</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Ich</th>
                        <td>{{ verb.futur1_ich }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Du</th>
                        <td>{{ verb.futur1_du }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Er/Sie/Es</th>
                        <td>{{ verb.futur1_es }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Wir</th>
                        <td>{{ verb.futur1_wir }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ihr</th>
                        <td>{{ verb.futur1_ihr }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sie</th>
                        <td>{{ verb.futur1_sie }}</td>
                    </tr>      
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col">Futur II verb "{{ verb }}"</th>
                    <th scope="col"></th>
        
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Ich</th>
                        <td>{{ verb.futur2_ich }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Du</th>
                        <td>{{ verb.futur2_du }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Er/Sie/Es</th>
                        <td>{{ verb.futur2_es }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Wir</th>
                        <td>{{ verb.futur2_wir }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ihr</th>
                        <td>{{ verb.futur2_ihr }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sie</th>
                        <td>{{ verb.futur2_sie }}</td>
                    </tr>
        
                </tbody>
            </table>
        </div>
    </div>
<br><br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Header 1</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td >Row 1, Column 1-2</td>
            <td>Row 1, Column 3</td>
        </tr>
        <tr>
            <td>Row 2, Column 1</td>
            <td>Row 2, Column 2</td>
            
        </tr>
    </tbody>
</table>
<br><br>

    {% endfor %}



{% endblock content %}